// Variables and mixins
@import '../../node_modules/office-ui-fabric-core/dist/sass/References';

// Partials that output CSS
// @import '../../node_modules/office-ui-fabric-core/dist/sass/Animation';
// @import '../../node_modules/office-ui-fabric-core/dist/sass/BrandIcon';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Color';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Color.Background';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Color.Border';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Color.Font';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Depth';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Font';
// @import '../../node_modules/office-ui-fabric-core/dist/sass/Font.Definitions';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Grid';
// @import '../../node_modules/office-ui-fabric-core/dist/sass/Icon';
// @import '../../node_modules/office-ui-fabric-core/dist/sass/Icon.Definitions';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Responsive';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Utility';
@import '../../node_modules/office-ui-fabric-core/dist/sass/Wrapper';

// Report

.report {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.report-navbar {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 0.4);
    box-sizing: border-box;

    &-title {
        font-size: 28px;
    }
}

.report-content {
    margin-top: 50px;
    height: calc(100vh - 50px);
    display: flex;
}

.report-details {
    flex: 1;
    padding: 0 20px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.report-sidebar {
    overflow-y: scroll;
    border-right: 1px solid #e8e8e8;
    width: 300px;
}

hr {
    border: none;
    border-top: 1px solid #dbdbdb;
}

.standard-text {
    font-size: 14px;
}

.message {
    background: #eaeaea;
    padding: 20px;
}

.loader-hider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(2px);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}